[Unit]
Description=Start all performance mixer services and applications

Before=

After=network.target pipewire.service wireplumber.service

Requires=pipewire.service wireplumber.service pmx-filter-chain-ctrl.service \
    pmx-grpc-api.service pmx-metadata-manager.service pmx-midi-router.service \
    pmx-osc-network-receiver.service pmx-osc-network-sender.service

Wants=

[Install]
WantedBy=